.footer {
    background:"linear-gradient(196deg, rgba(1,67,19,1) 0%, rgba(0,0,0,0.9780287114845938) 86%)";
    color: "white";
    padding: "20px";
    height: "45vh";
    display: "flex";
    width: "100%";
    justify-content: "space-evenly";
  };